# Exercise 2
### Create markdown cell with title of the notebook
Create a markdown cell with the title <code/>Data Science Tools and Ecosystem</Code>using H1 style heading.

# Data Science Tools and Ecosystem

# Exercise 3 
### Create a markdown cell for an introduction

Write an introductory sentence about the notebook such as the follows:

<code>In this notebook, Data Science Tools and Ecosystem are summarized.</code>

In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 4 
### Create a markdown cell to list data science languages

Start the cell with an overview line such as:

<code>Some of the popular languages that Data Scientists use are:</code>
<br>Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Exercise 5 
### Create a markdown cell to list data science libraries

Add an overview line to the cell like:

<code>Some of the commonly used libraries used by Data Scientists include:</code>
<br>Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Apache Spark
4. Scala

# Exercise 6 
### Create a markdown cell with a table of Data Science tools

Create a single column table in this cell with the first row containing the header <code>Data Science Tools</code>. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

|Data Science Tools|
|------------------|
|Apache Hadoop|
|Power BI|
|Jupyter Notebook|

# Exercise 7 
### Create a markdown cell introducing arithmetic expression examples

Add a line in this cell with H3 style heading with text like:
<br><code>Below are a few examples of evaluating arithmetic expressions in Python.</code>

### Below are a few examples of evaluating arithmetic expressions in Python.

# Exercise 8
### Create a code cell to multiply and add numbers

In this code cell evaluate the expression <code>(3*4)+5</code>.
<br>Insert a comment line before the expression to explain the operation e.g. <code>This a simple arithmetic expression to mutiply then add integers.</code>
<br>Then execute the cell to ensure the expression returns the expected output of <code>17</code>.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

# Exercise 9
### Create a code cell to convert minutes to hours

In this code cell write an expression that converts <code>200 minutes</code> into <code>hours</code>.
<br>Insert a comment line before the expression to explain the operation e.g. <code>This will convert 200 minutes to hours by diving by 60</code>.
<br>Run the cell to evaluate the expression.

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Exercise 10 
### Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: <code>Objectives:</code> in bold font. Then using an <code>unordered list</code> (bullets) indicate 3 to 5 items covered in this notebook, such as <code>List popular languages for Data Science</code>.

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List popular libraries for Data Science
* List of Well known Data Science Tools
* How to Provide comments in the cell

# Exercise 11 
### Create a markdown cell to indicate the Author's name

In this markdown cell markdown cell include the following text <code>Author</code> in <code>H2 style heading</code>. Include your <code>name</code> as regular text below the word <code>Author</code>.

## Author
Fernando Samuel